@font-face {
  font-family: 'papyrus';
  src: url('/src/styles/font/papyrus.ttf');
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.8;
}

audio {
  margin-top: -50px;
  margin-right: -720px;
  margin-bottom: 10px;
  opacity: 0.2;
}

@keyframes glow {
  from {
    box-shadow: 0 0 2px -2px #ffffff;
  }

  to {
    box-shadow: 0 0 2px 2px #ffd595;
  }
}

body {
  font-family: 'papyrus';
  background-color: black;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: 100%;
  justify-items: center;
  align-items: center;
  margin-top: 4%;
  color: #c5c5c5;
}

#gameWrapper {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

#bossWrapper {
  display: flex;
  flex-direction: row;
}

#playerWrapper {
  display: flex;
  flex-direction: row;
}

#playerStatsAndActionsWrapper {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 500px;
}

.abilityIcon {
  height: 62px;
  width: 62px;
  background-size: 62px 62px;
  margin: 2px;
}

.abilityIcon:hover {
  content: attr(title);
}

#abilitiesWrapper {
  margin-top: 20px;
  height: 106px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#attackAbility {
  background-image: url('./img/art/Damage.png');
  animation: glow 1s infinite alternate;
}

#fireAbility {
  background-image: url('./img/art/Reflect-Fire-Damage.png');
  animation: glow 1s infinite alternate;
}

#frostAbility {
  background-image: url('./img/art/Reflect-Frost-Damage.png');
  animation: glow 1s infinite alternate;
}

#natureAbility {
  background-image: url('./img/art/Reflect-Nature-Damage.png');
  animation: glow 1s infinite alternate;
}

#healingAbility {
  background-image: url('./img/art/Healing-Potion.png');
  animation: glow 1s infinite alternate;
}

#manaAbility {
  background-image: url('./img/art/Mana-Potion.png');
  animation: glow 1s infinite alternate;
}

#gameControlerAndPlayerStatsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 184px;
  margin-top: 10px;
}

#gameStarter {
  width: 100%;
  height: 184px;
}

#startButton {
  width: 200px;
  height: 100px;
  font-size: 20px;
  background: #4679bd;
  margin-left: 30%;
  margin-top: 30%;
}

#playerStats {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 184px;
  width: 100%;
}

#inventory {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
}

#inventoryHeader {
  width: 250px;
  text-align: center;
  font-size: 20px;
}

#textarea {
  background-color: rgba(82, 82, 82, 0.5);
  width: 90%;
  height: 90%;
  max-height: 90%;
  overflow: auto;
  color: aliceblue;
  overflow: hidden;
}

.avatar {
  width: 250px;
  height: 250px;
}

#playerIcon {
  background-image: url('./img/art/Player.jpg');
  background-size: 250px 250px;
}

#bossIcon {
  background-image: url('./img/art/Boss1.jpg');
  background-size: 250px 250px;
}

#combatLogger {
  width: 500px;
  height: 250px;
  background-image: url('./img/art/Combat-Log.jpg');
  background-size: 500px 250px;
  filter: opacity(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.divTableRow {
  display: flex;
  flex-direction: row;
}

.divTableRow2 {
  display: flex;
  flex-direction: row;
}

#inventoryItems {
  display: flex;
  flex-direction: column;
}

.divTableRow .item1 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Head.jpg');
}

.divTableRow .item2 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Shouders.jpg');
}

.divTableRow .item3 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Pants.jpg');
}

.divTableRow .item4 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Nail.jpg');
}

.divTableRow .item5 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Mask.jpg');
}

.divTableRow .item6 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Horn.jpg');
}

.divTableRow2 .item7 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Gloves.jpg');
}

.divTableRow2 .item8 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Chest.jpg');
}

.divTableRow2 .item9 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Bracelets.jpg');
}

.divTableRow2 .item10 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Boots.jpg');
}

.divTableRow2 .item11 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Belt.jpg');
}

.divTableRow2 .item12 {
  margin: 1px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-image: url('./img/Items/Cube.jpg');
}

#playerXP {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 350px;
  padding: 1px;
  background: rgb(68, 68, 68);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 1px;
}

#playerXP::-webkit-progress-value {
  background: rgb(160, 108, 13);
  box-shadow: 0px 0px 1px 1px #cccccc;
}

#playerHealth {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 350px;
  padding: 1px;
  background: rgb(68, 68, 68);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 1px;
}

#playerHealth::-webkit-progress-value {
  background: #881e1e;
  box-shadow: 0px 0px 1px 1px #cccccc;
}

progress {
  height: 20px;
}

#playerMana {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 350px;
  padding: 1px;
  background: rgb(68, 68, 68);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 1px;
}

#playerMana::-webkit-progress-value {
  background: rgb(58, 42, 128);
  box-shadow: 0px 0px 1px 1px #cccccc;
}

#bossHealth {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  padding: 1px;
  background: rgb(68, 68, 68);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 1px;
}

#bossHealth::-webkit-progress-value {
  background: #881e1e;
  box-shadow: 0px 0px 1px 1px #cccccc;
}

#basicAttack {
  color: #ffffff;
}

#fireAttack {
  color: #ffb13c;
}

.inactive {
  pointer-events: none;
  filter: grayscale(90%);
  animation: none !important;
}

.notEnoughMana {
  pointer-events: none;
  animation: none !important;
}

#Attack {
  color: #ffffff;
}

#Fire {
  color: #ffa825;
}

#Frost {
  color: #5a68eb;
}

#Nature {
  color: #66f084;
}

#Healing {
  color: #fde6a5;
}

#Mana {
  color: #78e5ec;
}

#bossattackAbility {
  background-image: url('./img/art/Boss-Attack-Damage.png');
  /* animation: glow 1s infinite alternate; */
}

#bossfireAbility {
  background-image: url('./img/art/Boss-Fire-Damage.png');
  /* animation: glow 1s infinite alternate; */
}

#bossfrostAbility {
  background-image: url('./img/art/Boss-Frost-Damage.png');
  /* animation: glow 1s infinite alternate; */
}

#bossnatureAbility {
  background-image: url('./img/art/Boss-Nature-Damage.png');
  /* animation: glow 1s infinite alternate; */
}

#bosshealingAbility {
  background-image: url('./img/art/Boss-Heling-Ability.png');
  /* animation: glow 1s infinite alternate; */
}

.bossAbilityIcon {
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  margin: 2px;
}

#bossAbilities {
  display: flex;
  flex-direction: row;
  width: 250px;
  padding-top: 10px;
  justify-content: center;
}

#playerXPbarWrapper,
#playerHealthbarWrapper,
#playerManabarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 40px;
}

label {
  display: block;
}

progress:after {
  content: attr(value) '/'attr(max);
  position: absolute;
  left: 45%;
  margin-left: -20px;
  top: -2px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  position: relative;
}

#bossAbilitiesAndHealthWrapper {
  display: flex;
  flex-direction: column;
}

#healthBarWrapper {
  display: flex;
  flex-direction: row;
}

.activeTurn {
  animation: glow 1s infinite alternate;
  z-index: 2;
}

#abilityStatsDescriber {
  font-size: 14px;
}

input {
  font-family: 'papyrus';
  border: none;
  background: none;
  pointer-events: none;
  height: 15px;
  width: 80px;
  color: white;
  font-weight: bold;
}

#gameButtonsControler {
  margin: auto;
}

#bossHealthBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}

.item1:hover,
.item2:hover {
  content: attr(title);
}

#redText {
  color: crimson;
  font-size: 20px;
  font-weight: bold;
}

#textItem {
  color: palegreen;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #00000000;
  color: rgb(116, 116, 116);
  text-align: center;
  font-size: 15px;
}

#abilityStats {
  /* margin-top: -30px; */
  margin-left: 45px;
  font-size: 14px;
  height: 40px;
  width: 400px;
  display: flex;
  justify-content: center;
}

#abilityStatsBoxes {
  margin-top: 5px;
  width: 66.66px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
